body {
    background-color: rgb(110, 112, 228);
    font: normal 15pt Arial;
    color: white;

}

header {
    text-align: center;
}

section {
    margin: 10px auto;
    padding: 15px;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 5px 10px rgb(0, 0, 0);
    color: black;
}

footer {
    text-align: center;
    font-style: italic;
}

select#historico {
    width: 150px;
}